extend pug/components/template.pug
block contenidos
  main
    section 
      article 
        hgroup 
          h1 wisc-
            span IV
          h3 Escala Weschler de Inteligencia para Niños-IV
        form(action="")
          div 
            label(for="nameChild") Nombre del niño:
            input.input-line(type="text" placeholder="Child's name" name="nameChild" required)
          div
            label(for="name") Examinador:
            input.input-line(type="text" placeholder="Examiner's name" name="name" autocomplete="on" required)
      article 
        hgroup: h3 Estimación de la edad del niño
        form(action="")
          div 
            label.label-table.border-top-left(for="")
            label.input-table(for="") Año
            label.input-table(for="") Mes
            label.input-table.border-top-rigth(for="") Día

            label.label-table.button(for="dateToday" type="button" onclick="calculateToday()") Año de evaluación
            input.input-table(type="number" placeholder="Ex: 2021" name="yearToday" required id="yearToday")
            input.input-table(type="number" placeholder="Ex: 09" name="monthToday" required id="monthToday")
            input.input-table(type="number" placeholder="Ex: 04" name="dayToday" required id="dayToday")

            label.label-table(for="dateBirthday") Fecha de nacimiento
            input.input-table(type="number" placeholder="Ex: 2010" name="yearBirthday" required id="yearBirthday")
            input.input-table(type="number" placeholder="Ex: 03" name="monthBirthday" required id="monthBirthday")
            input.input-table(type="number" placeholder="Ex: 23" name="dayBirthday" required id="dayBirthday")

            label.label-table.border-bottom-left.button(for="dateAge" type="button" onclick="calculateYear()") Edad a la evaluación
            label.input-table.input-result(for="resultYear" id="resultYear")
            label.input-table.input-result(for="" id="resultMonth")
            label.input-table.border-bottom-rigth.input-result(for="" id="resultDay")

      article 
        hgroup 
          h3 Conversiones de puntuación natural total a puntuación escalar
        form(action="")
          .grid
            label.grid-border.grid-1a5.border-top-left(for="") Subprueba
            label.grid-border.grid-5to6.font-07(for=""): strong Punt. Nat.
            label.grid-border.grid-6to12.border-top-rigth(for="") Puntuaciones escalares 
          .grid
            label.grid-border.grid-1to5.font-09(for="DC") Diseño con cubos
            input.grid-border.grid-5to6(type="number" name="inputDC" required id="inputDC") 
            label.grid-border.grid-6to7#punctuationDC_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9#punctuationDC_1(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationDC_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="SE") Semejanzas
            input.grid-border.grid-5to6(type="number" name="inputSE" required id="inputSE") 
            label.grid-border.grid-6to7#punctuationSE_0(for="")
            label.grid-border.grid-7to8#punctuationSE_1(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationSE_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="RD") Retención de dígitos
            input.grid-border.grid-5to6(type="number" name="inputRD" required id="inputRD") 
            label.grid-border.grid-6to7#punctuationRD_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10#punctuationRD_1(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationRD_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="CD") Conceptos con dibujos
            input.grid-border.grid-5to6(type="number" name="inputCD" required id="inputCD") 
            label.grid-border.grid-6to7#punctuationCD_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9#punctuationCD_1(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationCD_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="CL") Claves
            input.grid-border.grid-5to6(type="number" name="inputCL" required id="inputCL") 
            label.grid-border.grid-6to7#punctuationCL_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11#punctuationCL_1(for="")
            label.grid-border.grid-11to12#punctuationCL_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="VB") Vocabulario
            input.grid-border.grid-5to6(type="number" name="inputVB" required id="inputVB") 
            label.grid-border.grid-6to7#punctuationVB_0(for="")
            label.grid-border.grid-7to8#punctuationVB_1(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationVB_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="NL") Sucesión de números y letras
            input.grid-border.grid-5to6(type="number" name="inputNL" required id="inputNL") 
            label.grid-border.grid-6to7#punctuationNL_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10#punctuationNL_1(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationNL_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="MT") Matrices
            input.grid-border.grid-5to6(type="number" name="inputMT" required id="inputMT") 
            label.grid-border.grid-6to7#punctuationMT_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9#punctuationMT_1(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationMT_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="CM") Comprensión
            input.grid-border.grid-5to6(type="number" name="inputCM" required id="inputCM") 
            label.grid-border.grid-6to7#punctuationCM_0(for="")
            label.grid-border.grid-7to8#punctuationCM_1(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12#punctuationCM_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09(for="BS") Búsqueda de símbolos
            input.grid-border.grid-5to6(type="number" name="inputBS" required id="inputBS") 
            label.grid-border.grid-6to7#punctuationBS_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11#punctuationBS_1(for="")
            label.grid-border.grid-11to12#punctuationBS_2(for="")
          .grid
            label.grid-border.grid-1to5.font-09.background-var(for="FI") (Figuras incompletas)
            input.grid-border.grid-5to6.background-var(type="number" name="inputFI" required id="inputFI") 
            label.grid-border.grid-6to7.background-var#punctuationFI_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9#punctuationFI_1(for="") (
              span(style="color:transparent;") # #
              |)
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12.background-pri(for="")
          .grid
            label.grid-border.grid-1to5.font-09.background-var(for="RG") (Registros)
            input.grid-border.grid-5to6.background-var(type="number" name="inputRG" required id="inputRG") 
            label.grid-border.grid-6to7.background-var#punctuationRG_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11#punctuationRG_1(for="") (
              span(style="color:transparent;") # #
              |)
            label.grid-border.grid-11to12.background-pri(for="")
          .grid
            label.grid-border.grid-1to5.font-09.background-var(for="IN") (Información)
            input.grid-border.grid-5to6.background-var(type="number" name="inputIN" required id="inputIN") 
            label.grid-border.grid-6to7.background-var#punctuationIN_0(for="")
            label.grid-border.grid-7to8#punctuationIN_1(for="") (
              span(style="color:transparent;") # #
              |)
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12.background-pri(for="")
          .grid
            label.grid-border.grid-1to5.font-09.background-var(for="AR") (Aritmética)
            input.grid-border.grid-5to6.background-var(type="number" name="inputAR" required id="inputAR") 
            label.grid-border.grid-6to7.background-var#punctuationAR_0(for="")
            label.grid-border.grid-7to8.background-pri(for="")
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10#punctuationAR_1(for="") (
              span(style="color:transparent;") # #
              |)
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12.background-pri(for="")
          .grid
            label.grid-border.grid-1to5.font-09.border-bottom-left.background-var(for="PC") Palabras en contexto (Pistas)
            input.grid-border.grid-5to6.background-var(type="number" name="inputPC" required id="inputPC") 
            label.grid-border.grid-6to7.background-var#punctuationPC_0(for="")
            label.grid-border.grid-7to8#punctuationPC_1(for="") (
              span(style="color:transparent;") # #
              |)
            label.grid-border.grid-8to9.background-pri(for="")
            label.grid-border.grid-9to10.background-pri(for="")
            label.grid-border.grid-10to11.background-pri(for="")
            label.grid-border.grid-11to12.background-pri(for="")
          .grid
            label.grid-1to7.text-end.button(for="sumaPuntEsc" type="button" onclick="calculateSumScores()"): strong Suma de puntuaciones escalares
            label.grid-border.grid-7to8.border-bottom-left.input-result#SumScoresICV(for="")
            label.grid-border.grid-8to9.input-result#SumScoresIRP(for="")
            label.grid-border.grid-9to10.input-result#SumScoresIMT(for="")
            label.grid-border.grid-10to11.input-result#SumScoresIVP(for="")
            label.grid-border.grid-11to12.border-bottom-rigth.input-result#SumScoresCIT(for="")
          .grid
            label.grid-1to7.text-end(for="")
            label.grid-7to8.border-bottom-left.font-090(for="") ICV
            label.grid-8to9.font-090(for="") IRP
            label.grid-9to10.font-090(for="") IMT
            label.grid-10to11.font-090(for="") IVP
            label.grid-11to12.border-bottom-rigth.font-090(for="") CIT
      article 
        form(action="")
          div 
            label.label-table.border-top-left(for="") 
            label.input-table.font-075.background-pri.text-white(for="") Total de las 10 subpruebas
            label.input-table.font-075.background-pri.text-white(for="") 3 de Comprensión verbal
            label.input-table.border-top-rigth.font-075.background-pri.text-white(for="") 3 de Razonamiento perceptual

            label.label-table.font-085(for="") Suma de puntuaciones escalares
            label.input-table#SumScoresCIT10(for="")
            label.input-table#SumScoresICV3(for="")
            label.input-table#SumScoresIRP3(for="")

            label.label-table.font-085(for="") Número de subpruebas
            label.input-table(for="") ÷10
            label.input-table(for="") +3
            label.input-table(for="") ÷3

            label.label-table.border-bottom-left.font-085(for="") Puntuación media
            label.input-table#SumScoresCIT10_averageScore(for="")
            label.input-table#SumScoresICV3_averageScore(for="")
            label.input-table.border-bottom-rigth#SumScoresIRP3_averageScore(for="")
      article 
        hgroup 
          h3 Cálculo de puntuaciones índice
        form(action="")
          .grid13
            label.grid-border.grid-1a5.border-top-left.font-090(for="") Escala
            label.grid-border.grid-5to7.font-07(for="") Suma de puntuaciones escalares
            label.grid-border.grid-7to9.font-07(for="") Índice compuesto
            label.grid-border.grid-9to11.font-07(for="") Rango percentil
            label.grid-border.grid13-11to13.border-top-rigth.font-07(for="") Intervalo de confianza de 95%
          .grid13
            label.grid-border.grid-1to5.font-09(for="calculoCV") Comprensión verbal
            label.grid-border.grid-5to7.background-var(for="") 
            label.grid-border.grid-7to9(for="")
            label.grid-border.grid-9to11(for="")
            label.grid-border.grid13-11to13(for="")
          .grid13
            label.grid-border.grid-1to5.font-09(for="calculoRP") Razonamiento perceptual
            label.grid-border.grid-5to7.background-var(for="") 
            label.grid-border.grid-7to9(for="")
            label.grid-border.grid-9to11(for="")
            label.grid-border.grid13-11to13(for="")
          .grid13
            label.grid-border.grid-1to5.font-09(for="calculoMT") Memoria de trabajo
            label.grid-border.grid-5to7.background-var(for="") 
            label.grid-border.grid-7to9(for="")
            label.grid-border.grid-9to11(for="")
            label.grid-border.grid13-11to13(for="")
          .grid13
            label.grid-border.grid-1to5.font-09(for="calculoVP") Velocidad de procesamiento
            label.grid-border.grid-5to7.background-var(for="") 
            label.grid-border.grid-7to9(for="")
            label.grid-border.grid-9to11(for="")
            label.grid-border.grid13-11to13(for="")
          .grid13
            label.grid-border.grid-1to5.font-09.border-bottom-left(for="calculoET") Escala Total
            label.grid-border.grid-5to7.background-var(for="") 
            label.grid-border.grid-7to9(for="")
            label.grid-border.grid-9to11(for="")
            label.grid-border.grid13-11to13.border-bottom-rigth(for="")

    section 
      article 
        hgroup.background-pri: h2.text-white.text-h1 Protocolo de registro
        h3 Perfil de puntuaciones escalares de subprueba
        form(action="")
          .grid16
            label.grid-border-noBottom.grid16-1to6.border-top-left.font-07(for="") Comprensión verval
            label.grid-border-noBottom.grid16-6to10.font-07(for="") Razonamiento perceptual
            label.grid-border-noBottom.grid16-10to13.font-07(for="") Memoria de trabajo
            label.grid-border-noBottom.grid16-13to16.font-07.border-top-rigth(for="") Velocidad de procesamiento
          .grid16
            label.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border-left.font-07(for="name") SE
            label.font-07(for="") VB
            label.font-07(for="") CM
            label.font-07(for="") (IN)
            label.grid-border-right.font-07(for="") (PC)
            label.grid-border-left.font-07(for="") DC
            label.font-07(for="") CD
            label.font-07(for="") MT
            label.grid-border-right.font-07(for="") (FI)
            label.grid-border-left.font-07(for="") RD
            label.font-07(for="") NL
            label.grid-border-right.font-07(for="") (AR)
            label.grid-border-left.font-07(for="") CL
            label.font-07(for="") BS
            label.grid-border-right.font-07(for="") (RG)
          .grid16
            label.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
            label.grid-border.font-07(for=""): span(style="color:transparent;") # # 
          .grid16
            label.font-07(for="") 19
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 18
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 17
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 16
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 15
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 14
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 13
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 12
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 11
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 10
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 9
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 8
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 7
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 6
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 5
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 4
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 3
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 2
            label.grid-border-left.font-07(for="") • 
            label.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.font-07(for="") • 
            label.grid-border-right.font-07(for="") •
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") • 
            label.grid-border-left.font-07(for="") •
            label.font-07(for="") •
            label.grid-border-right.font-07(for="") •
          .grid16
            label.font-07(for="") 1
            label.border-bottom-left.grid-border-left.grid-border-bottom.font-07(for="") • 
            label.grid-border-bottom.font-07(for="") •
            label.grid-border-bottom.font-07(for="") •
            label.grid-border-bottom.font-07(for="") • 
            label.grid-border-bottom.grid-border-right.font-07(for="") •
            label.grid-border-bottom.grid-border-left.font-07(for="") •
            label.grid-border-bottom.font-07(for="") •
            label.grid-border-bottom.font-07(for="") • 
            label.grid-border-bottom.grid-border-right.font-07(for="") •
            label.grid-border-bottom.grid-border-left.font-07(for="") •
            label.grid-border-bottom.font-07(for="") •
            label.grid-border-bottom.grid-border-right.font-07(for="") • 
            label.grid-border-bottom.grid-border-left.font-07(for="") •
            label.grid-border-bottom.font-07(for="") •
            label.border-bottom-rigth.grid-border-bottom.grid-border-right.font-07(for="") •
      article 
        hgroup: h3 Perfil de puntuaciones compuestas
        form(action="")
          .grid16
            label.grid-border-noBottom.grid16-2to5.border-top-left.font-07(for="name") ICV
            label.grid-border-noBottom.grid16-5to8.font-07(for="") IRP
            label.grid-border-noBottom.grid16-8to11.font-07(for="") IMT
            label.grid-border-noBottom.grid16-11to14.font-07(for="") IVP
            label.grid-border-noBottom.grid16-14to17.font-07.border-top-rigth(for="") CIT
          .grid16
            label.grid-border-noBottom.grid16-2to5.font-07(for="name") 
              span(style="color:transparent;") # # 
            label.grid-border-noBottom.grid16-5to8.font-07(for="") 
              span(style="color:transparent;") # # 
            label.grid-border-noBottom.grid16-8to11.font-07(for="")
              span(style="color:transparent;") # # 
            label.grid-border-noBottom.grid16-11to14.font-07(for="")
              span(style="color:transparent;") # # 
            label.grid-border-noBottom.grid16-14to17.font-07(for="")
              span(style="color:transparent;") # # 

          .grid16
            label.font-07(for="") 160 -
            label.grid-border-top.grid-border-left.font-07(for="") - 
            label.grid-border-top.font-07(for="") -
            label.grid-border-top.grid-border-right.font-07(for="") -
            label.grid-border-top.grid-border-left.font-07(for="") -
            label.grid-border-top.font-07(for="") -
            label.grid-border-top.grid-border-right.font-07(for="") -
            label.grid-border-top.grid-border-left.font-07(for="") -
            label.grid-border-top.font-07(for="") - 
            label.grid-border-top.grid-border-right.font-07(for="") -
            label.grid-border-top.grid-border-left.font-07(for="") -
            label.grid-border-top.font-07(for="") -
            label.grid-border-top.grid-border-right.font-07(for="") - 
            label.grid-border-top.grid-border-left.font-07(for="") -
            label.grid-border-top.font-07(for="") -
            label.grid-border-top.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 150 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 140 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 130 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 120 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 110 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 100 -
            label.grid-border-left.font-07(for="") — 
            label.font-07(for="") —
            label.grid-border-right.font-07(for="") —
            label.grid-border-left.font-07(for="") —
            label.font-07(for="") —
            label.grid-border-right.font-07(for="") —
            label.grid-border-left.font-07(for="") —
            label.font-07(for="") — 
            label.grid-border-right.font-07(for="") —
            label.grid-border-left.font-07(for="") —
            label.font-07(for="") —
            label.grid-border-right.font-07(for="") — 
            label.grid-border-left.font-07(for="") —
            label.font-07(for="") —
            label.grid-border-right.font-07(for="") —
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 90 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 80 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 70 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 60 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 50 -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 
              span(style="color:transparent;") # # 
              | -
            label.grid-border-left.font-07(for="") - 
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") - 
            label.grid-border-right.font-07(for="") -
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") - 
            label.grid-border-left.font-07(for="") -
            label.font-07(for="") -
            label.grid-border-right.font-07(for="") -
          .grid16
            label.font-07(for="") 40 -
            label.grid-border-bottom.border-bottom-left.grid-border-left.font-07(for="") - 
            label.grid-border-bottom.font-07(for="") -
            label.grid-border-bottom.grid-border-right.font-07(for="") -
            label.grid-border-bottom.grid-border-left.font-07(for="") -
            label.grid-border-bottom.font-07(for="") -
            label.grid-border-bottom.grid-border-right.font-07(for="") -
            label.grid-border-bottom.grid-border-left.font-07(for="") -
            label.grid-border-bottom.font-07(for="") - 
            label.grid-border-bottom.grid-border-right.font-07(for="") -
            label.grid-border-bottom.grid-border-left.font-07(for="") -
            label.grid-border-bottom.font-07(for="") -
            label.grid-border-bottom.grid-border-right.font-07(for="") - 
            label.grid-border-bottom.grid-border-left.font-07(for="") -
            label.grid-border-bottom.font-07(for="") -
            label.grid-border-bottom.border-bottom-rigth.grid-border-right.font-07(for="") -